/* Navbar container styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 50px;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Logo styles */
.logo img {
    width: 30px;
    /* Adjust the width as needed */
    /* max-width: 10PX; */
}

/* Navigation links styles */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
    /* Change link color on hover */
}

/* Button styles for desktop screens */
.button a {
    text-decoration: none;
    background-color: rgb(218, 165, 32);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button a:hover {
    background-color: rgba(218, 165, 32, 0.788);
    /* Change button color on hover */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .logo {
        order: 1;
        /* Change the order for mobile */
    }

    .nav-links {
        order: 3;
        /* Change the order for mobile */
        margin-top: 10px;
        /* Add some space between logo and links */
        justify-content: flex-end;
        /* Align links to the right */
    }

    .button {
        display: none;
        order: 2;
        margin-top: 10px;
        /* Add some space between logo and button */
    }
}


/* <style> */
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* CSS for the banner section */
.banner {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* height: fit-content; */
    margin: 0 auto;
    overflow: hidden;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;

}

.banner-image {
    width: 100%;
    height: auto;
    /* padding: 30px; */
    display: none;
}

.banner-image.active {
    display: block;
}

.indicators {
    text-align: center;
    margin-top: 10px;
    position: absolute;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}

/* Navigation arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}


@media (max-width: 768px) {
    .banner {
        width: 100%;
        height: fit-content;
    }

}

/* </style> */

/* <style> */
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* CSS for the main-winners section */
.main-winners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.main-winners-text {
    flex: 1;
    padding: 20px;
}

.main-winners-text h2 {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-winners-text p {
    font-size: 16px;
    line-height: 1.5;
}

.main-winners-links {
    margin-top: 20px;

}

.main-winners-links a {
    display: inline-block;
    /* Horizontal alignment */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    /* Spacing between links */
    transition: color 0.3s;
    cursor: pointer;
}

.main-winners-links a:last-child {
    margin-right: 0;
    /* Remove margin from the last link */
}

.main-winners-links a:hover {
    color: goldenrod;
}

.main-winners-image {
    flex: 1;
    text-align: center;
    position: relative;
    /* Required for absolute positioning of the small image */
}

.main-winners-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    transition: opacity 0.3s;
    transition: opacity 10.3s;
}

.small-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .main-winners {
        align-items: center;
        flex-direction: column;
    }

    .main-winners-text {
        text-align: center;
    }

    .main-winners-links a {
        margin-right: 0;
        /* Remove right margin for links */
    }

    .main-winners-image {
        margin-top: 20px;
    }
}

/* </style> */


/* <style> */
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; Background color for the entire page */
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* <style> */
/* Your CSS for styling here */



/* CSS for the videos section */
.videos {
    padding: 40px;
    background-color: #fff;
    /* White background for the video section */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.videos h2 {
    font-size: 28px;
    /* Larger font size for the section title */
    margin-bottom: 20px;
    text-align: left;
    color: #333;
    /* Dark text color */
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}

.video {
    flex: 1;
    margin-bottom: 20px;
    /* Add spacing between videos */
    max-width: calc(33.33% - 20px);
    /* Adjust the width for three videos per row */
    background-color: #ffffff00;
    /* White background for each video container */
    /* border: 1px solid #333; Light gray border */
    border-radius: 8px 8px 0 0;
    /* Round only the top borders */

    transition: transform 0.3s, box-shadow 0.3s;
    /* Smooth transitions */
}

.video:hover {
    transform: translateY(-5px);
    /* Lift the video container on hover */
    box-shadow: 0px 4px 6px #3333332d
        /* Shadow effect */
        /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);  */
}

.video video {
    max-width: 100%;
    display: block;
}

.video-description {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    /* Add padding around the description */
    text-align: left;
    color: #333;
    /* Slightly darker text color */
}

.video-thumbnail {
    width: 100%;
    /* Set the initial width of the image */
    height: auto;
    transition: width 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
        /* Center videos horizontally */
    }

    .video {
        max-width: 100%;
        /* Full width for videos on small screens */
    }
}

/* <style> */
/* Your CSS for styling here */
.video-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #470563;
}

.video-container1 {
    position: relative;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.main-video {
    width: 100%;
    height: auto;
}

.main-video:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.384);
    transition: 1s ease;
}

/* Play button styling */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.video-text {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    color: #fff;
}

.videos {
    padding: 40px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.videos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
    color: #333;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}

.video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.video {
    flex-basis: calc(33.33% - 20px);
    background-color: #ffffff00;
    border-radius: 8px;
}

.video:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px #3333332d;
}

.video video {
    max-width: 100%;
    display: block;
}

.video-description {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    color: #333;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    transition: width 0.3s ease-in-out;
}

/* Responsive design for mobile screens */
@media (max-width: 768px) {
    .videos {
        padding: 20px;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .video-row {
        margin-bottom: 10px;
    }

    .video {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* </style> */
/* </style> */





/* CSS for the activities section */
.activities {
    padding: 40px;
    background-color: #f5f5f5;
}

.activities h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.activities-article {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

/* </style> */

/* <style> */
/* Overall styling for the winner section */
.winner-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: fit-content;
    /* Adjust the height as needed */
}

/* Styling for the image on the left */
.winner-image {
    flex: 1;
    width: 100%;
    max-width: 600px;
    /* Adjust the maximum width as needed */
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow for depth */
}

/* Styling for the text content on the right */
.winner-content {
    flex: 2;
}

/* Styling for the heading */
.winner-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.winners-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styling for the description */
.winner-description {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .winner-section {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        text-align: left;
        /* Center-align content */
    }

    .winner-image {
        margin-right: 0;
        /* Remove margin on the right for the image */
    }
}

/* </style> */


/* <style> */
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* CSS for the awards section */
.awards {
    padding: 40px;
    background-color: #ffffff;
}

.awards h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.awards-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.awards-column {
    flex: 1;
    margin-right: 20px;
    border-left: 0.3px solid #3333334b;
    padding: 20px;
}

.awards-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.awards-links {
    list-style: none;
    padding: 0;
}

.awards-links li {
    margin-bottom: 10px;
}

.awards-links a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: lighter;
    display: block;
    transition: color 0.3s;
    text-align: center;
    padding: 5px;

}

.awards-links a:hover {
    color: goldenrod;
    font-weight: light;
    transition: 0.4s ease;
}

.awards-links li:hover {
    background-color: #33333346;
    transition: 0.4s ease;
}

@media (max-width: 768px) {
    .awards-columns {
        flex-direction: column;
        align-items: center;
    }

    .awards-column {
        border-left: none;
        padding: 0;
    }

    .awards h2 {
        text-align: center;
    }

    /* CSS for the awards section */
    .awards {
        padding: 10px;
    }
}

/* </style> */

/* CSS for the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007bff;
}

/* <style> */
/* Reset default margin and padding */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Style for the news section */
.news-section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    /* aquamarine */
    padding: 20px;
    margin-top: 20px;
}

.news {
    margin: 0 90px;
}

.news-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}

/* Border style beneath "New" */
.news-heading::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #333;
    /* aquamarine */
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: translateX(-50%);
}

.news-heading .new-word {
    color: #c7c7c7;
    /* tomato */
}

/* Style for each news item */
.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for the image in each news item */
.news-image {
    width: 100px;
    /* You can adjust the size as needed */
    height: 100px;
    /* You can adjust the size as needed */
    object-fit: cover;
    /* Ensure the image maintains its aspect ratio */
    margin-right: 20px;
}

/* Style for the title and description in each news item */
.news-content {
    flex: 1;
}

/* Style for the title */
.news-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Style for the description */
.news-description {
    font-size: 14px;
}

/* Style for the "More News" link */
.more-news {
    text-align: center;
    margin-top: 20px;
}

.more-news a {
    text-decoration: none;
    color: #007BFF;
    /* blue */
    font-weight: bold;
}

.more-news a::after {
    content: "\2192";
    /* Right arrow character */
    margin-left: 5px;
}

@media (max-width: 768px) {
    .news {
        margin: 0 0 0 0;
    }

}


/* <style> */
/* Your CSS for styling here */
.news-main-section {
    background-color: rgba(21, 5, 36, 0.849);
    padding: 50px;
    margin-top: 10px;

}

.news-main {
    display: flex;
    align-items: center;

    /* justify-content: space-between; */
}

.news-main img {
    max-width: 100%;
    height: auto;
}

.news-main-left {
    flex: 1;
}

.news-main-left h2 {
    font-size: 24px;
    margin-top: 10px;

}

.news-main-left a {
    color: #fff;
    text-decoration: none;

}

.news-main-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 50px;
}

.news-main-right img {
    max-width: 200px;
    /* Increase the size of the right images */
    height: auto;
    margin-bottom: 20px;
}

.news-main-right div {
    display: flex;
    align-items: left;
}


.news-main-right p {
    font-size: 17px;
    font-weight: lighter;
    margin-left: 10px;
    /* Add margin to the left of the paragraph */



}

.news-main-right a {
    text-decoration: none;
    color: #ffffff;


}



@media (max-width: 768px) {
    .news-main-section {
        padding: 20px;
    }

    .news-main {
        flex-direction: column;
        align-items: flex-start;
        /* padding: 20px; */
    }

    .news-main-right {
        margin-left: 10px;
        margin-top: 20px;

    }



}

/* </style> */
/* </style> */




/* Style for the event section */
.event-section {
    display: flex;
    background-color: #d6d4d4;
    padding: 40px;
    margin: 20px;
    /* max-width: 800px;  */
    margin: 0 auto;
}

/* Style for the left content */
.event-content {
    /* flex: 1; */
    padding: 20px;
}

/* Style for the heading */
.event-heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
    /* Adjusted line height for better readability */

}

/* Style for the random text */
.event-text {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 10px;
    /* Adjusted line height for better readability */
}

/* Style for the "View Event" button */
.view-event-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff00;
    /* Blue button color */
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.view-event-button:hover {
    background-color: goldenrod;
    /* Darker blue on hover */
    color: #f5f5f5;
}
.event-image-div{
    max-width: 50%;
}
/* Style for the image on the right */
.event-image {
width: 100%;
}

/* Responsive layout for smaller screens */
@media (max-width: 720px) {
    .event-section {
        flex-direction: column;
        align-items: center;
    }

    .event-content {
        padding: 20px;
    }

    .event-image-div {
        max-width: 100%;
        /* Full width for the image on smaller screens */
    }
}




/* </style> */
/* <style> */
/* Your CSS for styling here */

.partners-section h2 {
    /* padding: 10px 10px 10px 40px ; */
    padding: 30px;
    font-weight: lighter;
    color: #333;
    text-align: center;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}

.partners-section {
    background-color: #d1cfcf;

}


.partner {
    text-align: center;
    max-width: 80px;
    /* Set a maximum width for the partner divs */
    margin: 0 auto;
    /* Center-align the partner divs horizontally */
}

.partner img {
    max-width: 100%;
    height: auto;
}

.partner p {
    margin-top: 10px;
    font-size: 15px;
}

/* Your CSS for styling here *
    /* Media query for responsiveness */
@media (max-width: 768px) {
    .partners {
        flex-direction: column;
        text-align: center;
    }

    .partner {
        margin-bottom: 30px;
    }
}

/* </style> */



/* <style> */
/* Style the section container */
.news-article {
    background-color: #ffffff;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    margin: 20px;
}

/* Style the "News" button */
.news-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: default;
}

/* Style the main heading */
.main-heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    padding: 3px 70px;
}

/* Style the headline */
.headline {
    font-size: 19px;
    margin-top: 20px;
    padding: 3px 70px;
}

/* Style the image */
.news-image-article {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Style the "Details" heading */
.details-heading {
    font-size: 19px;
    margin-top: 20px;
    padding: 3px 70px;
}

/* Style the paragraphs */
.paragraphs {
    font-size: 18px;
    margin-top: 10px;
    padding: 3px 70px;
}

/* Style the "Go to Home Page" button */
.home-button {
    background-color: #007bff;
    margin-left: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* margin-top: 20px; */
    cursor: pointer;
}

.home-button a {
    color: white;
    text-decoration: none;

}

/* Style the button hover effect */
.home-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {


    .paragraphs,
    .details-heading,
    .headline,
    .main-heading {
        padding: 3px 10px;
    }

}