/* Navbar styles */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 50px;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 90px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links .nav-active {
    color: goldenrod;
    text-decoration: 2px underline;
}

.nav-links a:hover {
    color: goldenrod;
}

.button a {
    text-decoration: none;
    background-color: rgb(218, 165, 32);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button a:hover {
    background-color: rgba(218, 165, 32, 0.788);
}


/* MOBILE SCREEN NAVBAR */
@media (max-width: 768px) {
    .logo {
        order: 1;
    }

    .nav-links {
        order: 3;
        margin-top: 10px;
        justify-content: flex-end;
    }

    .button {
        display: none;
        order: 2;
        margin-top: 10px;
    }
}


/* HERO-BANNER STYLING */
.banner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-image {
    width: 100%;
    height: auto;
    display: none;
}

.banner-image.active {
    display: block;
}

.indicators {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ffffff2a;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: rgba(218, 165, 32, 0.651);
}

.arrow {
    position: absolute;
    top: 50%;
    font-family: "Arial", sans-serif;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

/* MOBILE SCREEN FOR HERO-BANNER */
@media (max-width: 768px) {
    .banner {
        width: 100%;
        height: fit-content;
    }
}


/* EVENT PAGE STYLING */
.main-winners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
}

.main-winners-text {
    flex: 1;
    padding: 20px;
}

.main-winners-text h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-winners-text p {
    font-size: 16px;
    line-height: 1.5;
}

.main-winners-links {
    margin-top: 20px;
}

.main-winners-links a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    transition: color 0.3s;
    cursor: pointer;
}

.main-winners-links a:last-child {
    margin-right: 0;

}

.main-winners-links a:hover {
    color: goldenrod;
}

.main-winners-image {
    flex: 1;
    text-align: center;
    position: relative;
}

.main-winners-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity 0.3s;
    transition: opacity 10.3s;
}

.small-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

/* EVENT SECTION MOBILE SCREEN */
@media (max-width: 768px) {
    .main-winners {
        align-items: center;
        flex-direction: column;
    }

    .main-winners-text {
        text-align: center;
    }

    .main-winners-links a {
        margin-right: 0;
    }

    .main-winners-image {
        margin-top: 20px;
    }
}

/* VIDEO SECTION */
.videos {
    padding: 40px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.videos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
    color: #333;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}

.video {
    flex: 1;
    margin-bottom: 20px;
    max-width: calc(33.33% - 20px);
    background-color: #ffffff00;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.video:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px #3333332d
}

.video video {
    max-width: 100%;
    display: block;
}

.video-description {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    color: #333;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    transition: width 0.3s ease-in-out;
}

/* MOBILE SCREEN VIDEO SECTION */
@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
    }

    .video {
        max-width: 100%;
    }
}

/* MAIN VIDEO SECTION  */
.video-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.video-container1 {
    position: relative;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.main-video {
    width: 100%;
    height: auto;
}

.main-video:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.384);
    transition: 1s ease;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.video-text {
    margin-top: 20px;
    font-size: 16px;
    padding: 8px;
    text-align: left;
    color: #fff;
    font-weight: bold;
}

.videos {
    padding: 40px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.videos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
    color: #333;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}

.video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.video {
    flex-basis: calc(33.33% - 20px);
    background-color: #ffffff00;
    border-radius: 8px;
}

.video:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px #3333332d;
}

.video video {
    max-width: 100%;
    display: block;
}

.video-description {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    color: #333;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    transition: width 0.3s ease-in-out;
}

/* MAIN VIDEO PAGE MOBILE SCREEN */
@media (max-width: 768px) {
    .videos {
        padding: 20px;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .video-row {
        margin-bottom: 10px;
    }

    .video {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}


/* THE ACTIVITES SECTION  */
.activities {
    padding: 40px;
    background-color: #f5f5f5;
}

.activities h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.activities-article {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

/* EACH AWARD WINNERS PAGE */
.winner-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: fit-content;
}

.winner-image {
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.winner-content {
    flex: 2;
}

.winner-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.winners-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.winner-description {
    font-size: 16px;
    line-height: 1.5;
}

/* AWARD WINNER MOBILE SCREEN */
@media (max-width: 768px) {
    .winner-section {
        flex-direction: column;
        text-align: left;
    }

    .winner-image {
        margin-right: 0;
    }
}


/*  VAROUIS AWARD SECTION */
.awards {
    padding: 40px;
    background-color: #f5f5f5;
}

.awards h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.awards-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.awards-column {
    flex: 1;
    margin-right: 20px;
    border-left: 0.3px solid #3333334b;
    padding: 20px;
}

.awards-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.awards-links {
    list-style: none;
    padding: 0;
}

.awards-links li {
    margin-bottom: 10px;
}

.awards-links a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: lighter;
    display: block;
    transition: color 0.3s;
    text-align: center;
    padding: 5px;

}

.awards-links a:hover {
    color: goldenrod;
    font-weight: light;
    transition: 0.4s ease;
}

.awards-links li:hover {
    background-color: #33333346;
    transition: 0.4s ease;
}

/* MOBILE SCREEN FOR VARIOUS AWARDS */
@media (max-width: 768px) {
    .awards-columns {
        flex-direction: column;
        align-items: center;
    }

    .awards-column {
        border-left: none;
        padding: 0;
    }

    .awards h2 {
        text-align: center;
    }

    .awards {
        padding: 10px;
    }
}

/* FOOTER'S STYLING */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007bff;
}


/* NEWS SECTION */
.news-section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

.news {
    margin: 0 90px;
}

.news-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}

.news-heading::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #333;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: translateX(-50%);
}

.news-heading .new-word {
    color: #c7c7c7;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.news-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.news-content {
    flex: 1;
}

.news-title a {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.news-title a:hover {
    text-decoration: underline;
}

.news-description {
    font-size: 14px;
}

.more-news {
    text-align: center;
    margin-top: 20px;
}

.more-news a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.more-news a::after {
    content: "\2192";
    margin-left: 5px;
}

/* NEWS MOBILE SCREEN */
@media (max-width: 768px) {
    .news {
        margin: 0 0 0 0;
    }
}


/* MAIN NEWS PAGE */
.news-main-section {
    background-color: rgba(21, 5, 36, 0.849);
    padding: 50px;
    margin-top: 10px;
}

.news-main {
    display: flex;
    align-items: center;
}

.news-main img {
    max-width: 100%;
    height: auto;
}

.news-main-left {
    flex: 1;
}

.news-main-left h2 {
    font-size: 24px;
    margin-top: 10px;

}

.news-main-left a {
    color: #e6e6e6;
    text-decoration: underline;

}

.news-main-left a:hover {
    color: goldenrod;
}

.news-main-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 50px;
}

.news-main-right img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.news-main-right div {
    display: flex;
    align-items: left;
}

.news-main-right p {
    font-size: 17px;
    font-weight: lighter;
    margin-left: 10px;
}

.news-main-right a {
    text-decoration: underline;
    color: #e6e6e6;
}

.news-main-right a:hover {
    color: goldenrod;
}

/* MOBILE SCREEN MAIN NEWS */
@media (max-width: 768px) {
    .news-main-section {
        padding: 20px;
    }

    .news-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .news-main-right {
        margin-left: 10px;
        margin-top: 20px;
    }
}

/* EVENT SECTION */
.event-section {
    display: flex;
    background-color: #d6d4d4;
    padding: 40px;
    margin: 20px;
    margin: 0 auto;

}

.event-content {
    flex: 1;
    padding: 20px;
}

.event-heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
}

.event-text {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 10px;
}

.view-event-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.view-event-button:hover {
    background-color: goldenrod;
    color: #f5f5f5;
}

.event-image-div {
    max-width: 50%;
    margin-top: 50px;
}

.event-image {
    width: 100%;
}

/* EVENTS MOBILE SCREEN */
@media (max-width: 768px) {
    .event-section {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .event-heading {
        font-size: 40px;
        padding: 0;
    }

    .event-content {
        padding: 20px;
    }

    .event-text {
        padding: 0 30px;
    }

    .event-image-div {
        max-width: 100%;
        margin-top: 0px;
    }
}

/* PARTENERSOF THE TTU SPORTS AWARDS */
.partners-section h2 {
    padding: 30px;
    font-weight: lighter;
    color: #333;
    text-align: center;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.partners-section {
    background-color: #d1cfcf;
}


.partner {
    text-align: center;
    max-width: 80px;
    margin: 0 auto;
}

.partner img {
    max-width: 100%;
    height: auto;
}

.partner p {
    margin-top: 10px;
    font-size: 15px;
}

/* MOBILE DISPLAY OF THE PATNERS SECTION */
@media (max-width: 768px) {
    .partners {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .partner {
        margin-bottom: 10px;
    }
}

/* INDIVIDAUL NEWS PAGE */
.news-article {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.news-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: default;
}

.main-heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    padding: 3px 70px;
}

.headline {
    font-size: 19px;
    margin-top: 20px;
    padding: 3px 70px;
}

.news-image-article {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.details-heading {
    font-size: 19px;
    margin-top: 20px;
    padding: 3px 70px;
}

.paragraphs {
    font-size: 18px;
    margin-top: 10px;
    padding: 3px 70px;
}

.home-button {
    background-color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button a {
    color: white;
    text-decoration: none;

}

.home-button:hover {
    background-color: #3333334f;

}

@media (max-width: 768px) {

    .paragraphs,
    .details-heading,
    .headline,
    .main-heading {
        padding: 3px 10px;
    }

}

/* GALLERY SECTION */
.gallery-heading {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}

.gallery-heading h2 {
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    color: #333;

}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-text {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.068);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

/* FOR MOBILE SCREENS */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 49%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.about-text {
    flex: 2;
    padding: 20px;
}

.about-text h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
}
@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }
    }
    